.container {
  position: relative;
  background: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 15px;
  box-shadow: 0 1px 4px rgba(192, 208, 230, 0.8);
  border-top: 20px solid rgba(230, 236, 245, 0.4);
  cursor: grab;
}

.container header {
  position: absolute;
  top: -22px;
  left: 15px;
}

.container p {
  font-weight: 500;
}

.container img {
  width: 28px;
  height: 28px;
  border-radius: 12px;
  margin-top: 5px;
}

/* IsDraggin */

.containerIsDragging {
  border: 2px dashed rgba(0, 0, 0, 0.2);
  padding-top: 31px;
  border-radius: 5px;
  background: transparent;
  box-shadow: none;
  cursor: grabbing;
  /* FIXME cursor grabbing */
}

.containerIsDragging p {
  opacity: 0;
}
.containerIsDragging img {
  opacity: 0;
}
.containerIsDragging header {
  opacity: 0;
}

.label {
  width: 10px;
  height: 10px;
  border-radius: 2px;
  display: inline-block;
  background: rgb(1, 188, 82);
  /* 23
  #TODO change by props */
}
